[submodule "vendor/symfony/src/Symfony/Component/ClassLoader"]
	path = vendor/symfony/src/Symfony/Component/ClassLoader
	url = git@github.com:symfony/ClassLoader.git
[submodule "vendor/symfony/src/Symfony/Component/Console"]
	path = vendor/symfony/src/Symfony/Component/Console
	url = git@github.com:symfony/Console.git
[submodule "vendor/scm"]
	path = vendor/scm
	url = https://github.com/jfsimon/scm
[submodule "vendor/OOSSH"]
	path = vendor/OOSSH
	url = git@github.com:frequence-web/OOSSH.git
