[submodule "vendor/symfony/src/Symfony/Component/ClassLoader"]
	path = vendor/symfony/src/Symfony/Component/ClassLoader
	url = git@github.com:symfony/ClassLoader.git
[submodule "vendor/symfony/src/Symfony/Component/Console"]
	path = vendor/symfony/src/Symfony/Component/Console
	url = git@github.com:symfony/Console.git
[submodule "vendor/OOSSH"]
	path = vendor/OOSSH
	url = git@github.com:frequence-web/OOSSH.git
[submodule "vendor/Gaufrette"]
	path = vendor/Gaufrette
	url = git@github.com:knplabs/Gaufrette.git
[submodule "vendor/symfony/src/Symfony/Component/Yaml"]
	path = vendor/symfony/src/Symfony/Component/Yaml
	url = git@github.com:symfony/Yaml.git
[submodule "vendor/symfony/src/Symfony/Component/Process"]
	path = vendor/symfony/src/Symfony/Component/Process
	url = git@github.com:symfony/Process.git
